<div class="row">
  <div class="form-group col-12">
    <textarea class="form-control" ref-textarea [(ngModel)]="inputText" placeholder="Your text here..." rows="10"></textarea>
  </div>
</div>

<div class="row">
  <div class="form-group col-12">
    <input id="file-upload" type="file" accept=".txt" (change)="fileUpload($event)" class="pull-left">
    <button (click)="processText()" class="btn btn-sm btn-success pull-right">
      <i class="fa fa-cog"></i>
      <span> Analyze</span>
    </button>
    <button (click)="clearText()" class="btn btn-sm btn-default pull-right">
      <i class="fa fa-remove"></i>
      <span> Clear</span>
    </button>
  </div>
</div>

<div class="row" *ngIf="!processingDone && processing">
  <div class="col-12">
    <h5 style="padding:5px" class="alert alert-info">
      <i class="fa fa-spinner fa-spin"></i> Processing...
    </h5>
  </div>
</div>

<div *ngIf="processingDone && !processing">
  <app-sentence *ngFor="let sentence of analysisResult.sentences" [sentence]="sentence"></app-sentence>
</div>